<div class="container">
    <div class="row">
        
		
    	<div class="col-md-4">
			<form>
			<div id="contact-form" class="form-container" data-form-container>
			<div class="row">
				<div class="form-title">
					<span><h1>ADD PRODUCT</h1></span>
				</div>
			</div>
			<div class="input-container">
				<div class="row">
					<span class="req-input" >
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Product Name."> </span>
						<input type="text" data-min-length="8" placeholder="Product Name">
					</span>
				</div>
				<div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Description."> </span>
						<input type="email" placeholder="Description">
					</span>
				</div>
				<div class="row">
					<span class="req-input">
						<span class="input-status" data-toggle="tooltip" data-placement="top" title="Images"> </span>
						<input type="tel" placeholder="Insert Images">
					</span>
				</div>
                
				<div class="row submit-row">
                    <button type="button" class="btn btn-block submit-form">ADD</button>
                   
				</div>
			</div>
			</div>
			</form>
		</div>
        <button type="button" (click)=showSuccess()>CLICK HERE</button>
