
<form>
    <div class="b">
        <h1>WELCOME SHIVAM!</h1>
</div>
    <div class="form1">
      <label for="exampleInputusername">Username:Shivam saini </label>
      
      
    </div>
    <div class="form2">
      <label for="exampleInputid">ID:12345 </label>
    
    </div>

    <div class="form3">
        <label for="exampleInputcontact">Contact: 9520407001</label>
       
      </div>
      <div class="form4">
        <label for="exampleInputaddress">Address: Roorkee,Haridwar [U.K]</label>
        
      </div>
  </form>
