
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
      
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        
        <ul class="nav navbar-nav navbar-right">
        
        
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
       
        <form id="signin" class="navbar-form navbar-right" role="form">
       
                         
                     </form>
       


      </div>
        </ul>
      </div>
    </div>
  </nav>
    
  <div>
  <div class="container" >
      <div class="col-md-6" >
          <div id="logbox"  >
              <form id="signup" method="post" routerLink="/signup" >
                  <h1>Hello Users!</h1>
                   <input name="user[first name]" type="first name" placeholder="First Name" class="input pass"/>
                   <input name="user[last name]" type="last name" placeholder="Last Name" class="input pass"/>
                  <input name="user[eamail]" type="email" placeholder="Enter E-mail" required="required" class="input pass"/>
                  <input name="user[password]" type="password" placeholder="Type password" required="required" class="input pass"/>
                  <input type="submit" value="Sign me up!" routerLink="/login" class="inputButton"/>

             
              </form>
          </div>
      </div>
      <!--col-md-6-->
  
  
  </div>
  </div>