<div class="header">

    <img src="">
    <div class="header-right">
        <button type="button" class="btn btn-primary"><a routerLink="/login"class="btn btn-link">Login</a></button> 
        <button type="button" class="btn btn-primary"><a routerLink="/signup"class="btn btn-link">Sign up</a></button>     </div>
    </div>
<div class=ab><h1>Order your medicines here...</h1></div>
<img class=a src="../../assets/pharmeasy.webp" class="img-fluid" alt="Responsive image">
<img class=a src="../../assets/banner ph.jpg" class="img-fluid">





  




<div class="center">
    <div class=c><h1>Quick home delievery...</h1></div>
</div>
<img class=d src="../../assets/pharmeasy-min.jpg">

<footer>
<ul class="list-group">
    <li class="list-group-item">Contact Us</li>
    <li class="list-group-item">Direction</li>
    <li class="list-group-item">Email:pharmeasy@123</li>
    <li class="list-group-item">Help</li>
  
  </ul>
</footer>